
.link{
    color:black;       
}

.toBack{
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 5px;
    width: 170px;
    font-size: 12px;
    padding: 9px;
    border-radius: 5px;
}

.toBack1{
    color: rgb(255, 255, 255);
    background-color: rgb(248, 62, 6);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 5px;
    width: 170px;
    font-size: 12px;
    padding: 9px;
    border-radius: 5px;
}

.toBack2{
    color: rgb(255, 255, 255);
    background-color: rgb(6, 119, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 5px;
    width: 170px;
    font-size: 12px;
    padding: 9px;
    border-radius: 5px;
}

.link-edit{
    background-color: rgb(6, 119, 248);
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}

.link-delete{
    background-color: rgb(248, 62, 6);
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}